.topheader {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;

}

.header-img {
  width: auto;
  max-width: 100vw;
}

.nav-bar {
  border-bottom: 1px #D8D8D8 solid;
  background: white;
  height: 40px;
}

.author {
  display: block;
  margin-bottom: 25px;
}

.author a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.social-buttons {
  float: right;
  margin-top: 25px;
}

.nav-buttom {
  background-color: #3c70a4;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: white;
  margin-top: 8px;

}

.publish-date {
  font-family: serif;
}

.menu {
  float: left;
  margin-top: 8px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-links {
  float: right;
}

.logo {
  width: 200px;
  margin: 0 auto;
  margin-top: 4px;
}

.account {
  float: right;
}

.user-icon {
  border: none;
  background: transparent;
}

.social-buttom {
  background-color: #eaeaea;
  border-radius: 50%;
  border: none;
  padding:5px;
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.social-buttom:hover {
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.menu-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-links a {
    font-size: 12px;
}

.main-article {
  margin-top: 50px;
  display: block;
}

.main-article header {
  text-align: center;
}

.main-article footer {
  width: 45%;
  margin: 0 auto;
}

.main-article h2 {
  width: 45%;
  margin: 0 auto;

}

.video {
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;
}

.reference {
  display: block;
  width: 45vw;
  min-width: 400px;
  margin: 0 auto;
  font-size: 14px;
  color: #696464;
  font-family: serif;  
  text-align: left;
}

.paragraph {
  width: 45vw;
  min-width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.first {
  margin-top: 25px;
}

.article-details {
  display: block;
  width: 45%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 5px;
}

#bicep {
  display: block;
  width: 45vw;
  min-width: 400px;
  margin: 0 auto;
}

.infograph {
  width: 1050px;
  text-align: left;
  margin: 0 auto;
}

.infograph header {
  text-align: left;
}

.infograph header .reference {
  margin: 0;
}

.infograph footer {
  clear: left;
}

.infograph footer hr{
  width: 50px;
  color: black;
  margin-left: 0;
}

.infograph-img {
  background-image: url("images/inflation-945.png");
  background-repeat: no-repeat;
  background-size: 1000px 600px;
  height: 600px;
}

.infograph-text {
  float: left;
  margin-top: 150px;
  margin-right: 5px;
  width: 250px;
  height: 200px;
}
