.topheader {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;

}

.header-img {
  width: auto;
  max-width: 80vw;
}

.nav-bar {
  border-bottom: 1px #D8D8D8 solid;
  background: white;
  height: 40px;
}

.author {
  display: block;
  margin-bottom: 25px;
}

.author a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.social-buttons {
  float: right;
  margin-top: 25px;
}

.nav-buttom {
  background-color: #3c70a4;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  height: 30px;
  width: 85px;
  cursor: pointer;
}

.publish-date {
  font-family: serif;
}

.menu {
  float: left;
  margin-top: 8px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-links {
  float: right;
}

.logo {
  width: 200px;
  margin: 0 auto;
  margin-top: 4px;
}

.account {
  float: right;
}

.user-icon {
  border: none;
  background: transparent;
}

.social-buttom {
  background-color: #eaeaea;
  border-radius: 50%;
  border: none;
  padding:5px;
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.social-buttom:hover {
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.menu-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-links a {
    font-size: 12px;
}

.main-article {
  margin-top: 50px;
  display: block;
}

.main-article header {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.title {
  display: block;
  width: 50%;
  font-size: 1.5em;
  margin: 0 auto;
}

.main-article header .reference {
  margin-left: 0;
}

.main-article footer {
  width: 45%;
  margin: 0 auto;
}

.main-article h2 {
  width: 45%;
  margin: 0 auto;

}

.video {
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;
}

.reference {
  display: block;
  width: 45vw;
  min-width: 400px;
  margin: 0 auto;
  font-size: 14px;
  color: #696464;
  font-family: serif;
  text-align: left;
}

.paragraph {
  width: 45vw;
  min-width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.first {
  margin-top: 25px;
}

.article-details {
  display: block;
  width: 45%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 5px;
}

.comment-buttom {
  background-color: #3c70a4;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: white;
  height: 30px;
  width: 220px;
  float: left;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}


#bicep {
  display: block;
  width: 45vw;
  min-width: 400px;
  margin: 0 auto;
}

.editors-pick{
  display: inline-block;
  margin-top: 40px;
  margin-left: 100px;
}

.editors-pick hr{
  width: 800px;
}

.editors1{
  display: inline-block;
}

.editors2{
  display: inline-block;
}

.editors3{
  display: inline-block;
}

.editors-pick header{
  margin-top: 200px;
  font-weight: bold;
}

.editors-img{
  width: 350px;
  height: 250px;
  cursor: pointer;
}

.editors-des{
  margin: 0 auto;
  font-size: 12px;
}


.infograph {
  width: 1050px;
  text-align: left;
  margin: 0 auto;
}

.infograph header {
  text-align: left;
}

.infograph header .reference {
  margin: 0;
}

.infograph footer {
  clear: left;
}

.infograph footer hr{
  width: 50px;
  color: black;
  margin-left: 0;
}

.infograph-img {
  background-image: url("images/inflation-945.png");
  background-repeat: no-repeat;
  background-size: 1000px 600px;
  height: 600px;
}

.infograph-text {
  float: left;
  margin-top: 150px;
  margin-right: 5px;
  width: 250px;
  height: 200px;
}

.bottom-bar header a {
  float: right;
}

.bottom-option {
  font-family: nyt-franklin;
  font-weight: bold;
  font-size: 13px;
  border-top: solid 1px grey;
  padding: 10px;
  cursor: pointer;
}

.bottom-option.last {
  border-bottom: solid 1px grey;
}

.copyright {
  display: block;
  min-width: 200px;
  width: 20%;
  margin: 0 auto;
  text-decoration: none;
  color: grey;
}

.copyright:hover {
  text-decoration: underline;
}

.footer-links {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.footer-links a {
  color: grey;
  margin-left: 15px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.editor-side {
  float: right;
  margin-top: 500px;
  width: 25%;
}

.editor-side img {
  display: inline-block;
  width: 150px;
}

.editor-side span {
  width: 150px;
  float: right;
  font-weight: bold;
  margin-top: 25px;
}